@media (min-width: 769px) {
  .commit-title {
    text-align: center; }
    .commit-title .c-name {
      font-size: 26px; }
    .commit-title .e-name {
      font-size: 16px; }

  .header {
    height: 80px;
    transition: all .3s ease-in-out; }
    .header.active {
      height: 60px;
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3); }
    .header .header-c-m {
      display: none; }
    .header .banenr {
      margin-bottom: 90px; }
    .header .header-c {
      width: 1200px;
      height: 100%;
      margin: 0 auto; }
      .header .header-c .header-nav {
        padding: 0 60px;
        height: 100%; }
        .header .header-c .header-nav::before {
          display: inline-block;
          content: '';
          height: 100%;
          font-size: 0;
          vertical-align: middle; }
        .header .header-c .header-nav .logo {
          display: inline-block;
          vertical-align: middle; }
          .header .header-c .header-nav .logo img {
            display: block; }
          .header .header-c .header-nav .logo .logo-num {
            padding: 7px 0 0 65px; }
        .header .header-c .header-nav .nav-list {
          float: right;
          height: 100%; }
          .header .header-c .header-nav .nav-list::after {
            content: '';
            display: inline-block;
            font-size: 0;
            vertical-align: middle;
            height: 100%; }
          .header .header-c .header-nav .nav-list .nav-item {
            display: inline-block;
            margin-left: 65px;
            transition: all linear 0.1s;
            vertical-align: middle; }
            .header .header-c .header-nav .nav-list .nav-item:hover {
              transform: scale(1.03); }
              .header .header-c .header-nav .nav-list .nav-item:hover a {
                color: #1d1d1d; }
              .header .header-c .header-nav .nav-list .nav-item:hover a::after {
                opacity: 1; }
            .header .header-c .header-nav .nav-list .nav-item a {
              display: block;
              height: 100%;
              padding: 10px;
              color: #666666;
              letter-spacing: 0.05em; }
              .header .header-c .header-nav .nav-list .nav-item a::after {
                content: "";
                display: block;
                width: 75%;
                height: 1px;
                background-color: #b9ab77;
                margin-left: 20%;
                margin-top: 3px;
                opacity: 0; }
            .header .header-c .header-nav .nav-list .nav-item.active {
              transform: scale(1.03); }
              .header .header-c .header-nav .nav-list .nav-item.active a {
                color: #1d1d1d; }
                .header .header-c .header-nav .nav-list .nav-item.active a::after {
                  content: "";
                  display: block;
                  width: 75%;
                  height: 1px;
                  background-color: #b9ab77;
                  margin-left: 20%;
                  margin-top: 3px;
                  opacity: 1; }

  .footer-c {
    height: 100px;
    width: 1200px;
    margin: 0 auto; }
    .footer-c .record {
      float: left; }
      .footer-c .record p:nth-child(1) {
        margin: 35px 0 13px; }
      .footer-c .record p:nth-child(2) {
        margin: 13px 0 18px; }
    .footer-c .join {
      float: right;
      line-height: 100px; }
      .footer-c .join .join-item {
        margin-left: 58px; } }
@media (max-width: 768px) {
  .commit-title {
    margin: 60px 0 35px; }
    .commit-title .c-name {
      font-size: 20px; }
    .commit-title .e-name {
      font-size: 13px; }

  .header {
    height: 80px;
    background-color: white;
    transition: all 0.3s ease-in-out; }
    .header.active {
      height: 40px;
      background-color: rgba(255, 255, 255, 0.4);
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3); }
    .header.touchactive {
      height: 40px;
      background-color: rgba(255, 255, 255, 0.4);
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3); }
    .header .header-c {
      height: 100%;
      display: none; }
    .header .header-c-m {
      height: 100%;
      display: block; }
      .header .header-c-m .header-nav {
        padding: 0 15px;
        text-align: justify;
        height: 100%; }
        .header .header-c-m .header-nav .header-vertical {
          display: inline-block;
          content: '';
          height: 100%;
          font-size: 0;
          vertical-align: middle; }
        .header .header-c-m .header-nav::after {
          display: inline-block;
          width: 100%;
          content: '';
          font-size: 0; }
        .header .header-c-m .header-nav .logo {
          display: inline-block;
          vertical-align: middle; }
          .header .header-c-m .header-nav .logo img {
            display: block; }
            .header .header-c-m .header-nav .logo img:first-child {
              width: 89px; }
            .header .header-c-m .header-nav .logo img:nth-child(2) {
              width: 24px; }
          .header .header-c-m .header-nav .logo .logo-num {
            padding: 4px 0 0 32px; }
        .header .header-c-m .header-nav .nav-list {
          display: none;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          text-align: center;
          z-index: 2; }
          .header .header-c-m .header-nav .nav-list .nav-item {
            padding: 25px;
            background-color: rgba(255, 255, 255, 0.3); }
            .header .header-c-m .header-nav .nav-list .nav-item.active > a {
              color: #b9ab77; }
            .header .header-c-m .header-nav .nav-list .nav-item:first-child {
              padding-top: 120px; }
            .header .header-c-m .header-nav .nav-list .nav-item:last-child {
              padding-bottom: 1000px; }
            .header .header-c-m .header-nav .nav-list .nav-item a {
              display: block;
              width: 100%;
              color: #1d1d1d; }
        .header .header-c-m .header-nav .hamburger {
          display: inline-block;
          height: 40px;
          transition: all 0.3s linear;
          width: 40px;
          vertical-align: middle;
          margin-right: 15px; }
          .header .header-c-m .header-nav .hamburger .line {
            display: block;
            width: 20px;
            height: 2px;
            border-radius: 2px;
            margin: 5px auto 0;
            background-color: #3D3D3D;
            transition: all 0.3s linear; }
          .header .header-c-m .header-nav .hamburger .line:first-child {
            margin-top: 13px; }
        .header .header-c-m .header-nav .hamburger.active {
          position: relative;
          transition-delay: 0.6s;
          transform: rotate(45deg);
          z-index: 3; }
          .header .header-c-m .header-nav .hamburger.active .line {
            display: block;
            background-color: #1d1d1d; }
          .header .header-c-m .header-nav .hamburger.active .line:nth-child(2) {
            width: 0px; }
          .header .header-c-m .header-nav .hamburger.active .line:first-child {
            transform: translateY(7px);
            transition-delay: 0.3s; }
          .header .header-c-m .header-nav .hamburger.active .line:nth-child(3) {
            transform: translateY(-7px) rotate(90deg);
            transition-delay: 0.3s; }

  .footer-c {
    height: 80px;
    padding: 0 5px;
    text-align: center;
    line-height: 2; }
    .footer-c .record {
      margin-top: 20px; }
    .footer-c .join {
      display: inline-block; }
      .footer-c .join .join-item {
        margin-left: 10px; }
    .footer-c .toup {
      right: 15px;
      bottom: 5px; }
      .footer-c .toup a {
        width: 35px;
        height: 35px; } }

/*# sourceMappingURL=common.css.map */