@media (min-width: 769px) {
  .home-button {
    width: 1300px;
    margin: 0 auto;
    position: relative; }
    .home-button .home-swiper-button {
      margin: 270px auto 0;
      width: 50px;
      height: 79px;
      background-color: rgba(0, 0, 0, 0.1);
      color: #e4e5e8; }
      .home-button .home-swiper-button:focus {
        outline: none; }
      .home-button .home-swiper-button:hover {
        background-color: rgba(0, 0, 0, 0.2);
        transition: all .3s linear; }
      .home-button .home-swiper-button.swiper-button-next {
        background-image: url(../../img/banner-right-arr.png);
        background-position: 4px;
        background-size: 50px 60px; }
      .home-button .home-swiper-button.swiper-button-prev {
        background-image: url(../../img/banner-left-arr.png);
        background-size: 50px 60px; }

  .wedding-c {
    width: 1200px;
    margin: 80px auto 0;
    overflow: hidden; }
    .wedding-c .wedding-banner-m {
      display: none; }
    .wedding-c .wedding-banner {
      margin-bottom: 60px; }
      .wedding-c .wedding-banner .swiper-pagination {
        top: 80px;
        height: 50px; }
        .wedding-c .wedding-banner .swiper-pagination .swiper-pagination-bullet {
          width: 90px;
          height: 50px;
          margin: 0 10px;
          border-radius: 0;
          color: #4d4d4d;
          background-color: transparent;
          opacity: 1; }
          .wedding-c .wedding-banner .swiper-pagination .swiper-pagination-bullet:focus {
            border: 0; }
        .wedding-c .wedding-banner .swiper-pagination .swiper-pagination-bullet-active {
          color: #b9ab77; }
          .wedding-c .wedding-banner .swiper-pagination .swiper-pagination-bullet-active::after {
            content: '';
            display: block;
            margin: 10px auto;
            width: 4px;
            height: 4px;
            background-color: currentColor;
            border-radius: 50%; }
      .wedding-c .wedding-banner .swiper-wrapper {
        margin-top: 160px; }
        .wedding-c .wedding-banner .swiper-wrapper .swiper-slide {
          font-size: 0; }
          .wedding-c .wedding-banner .swiper-wrapper .swiper-slide img {
            filter: grayscale(100%);
            background-color: blue;
            z-index: 1; }
          .wedding-c .wedding-banner .swiper-wrapper .swiper-slide:hover > img {
            filter: none; }
          .wedding-c .wedding-banner .swiper-wrapper .swiper-slide .mask {
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            color: #ffffff;
            text-align: center;
            transition: all 0.4s ease-in-out;
            transition-delay: 0.4s;
            background-color: rgba(0, 0, 0, 0.1); }
            .wedding-c .wedding-banner .swiper-wrapper .swiper-slide .mask h3 {
              font-size: 14px;
              margin: 120px auto 30px auto; }
            .wedding-c .wedding-banner .swiper-wrapper .swiper-slide .mask p {
              font-size: 12px;
              line-height: 2; }
          .wedding-c .wedding-banner .swiper-wrapper .swiper-slide:hover > .mask {
            opacity: 1; }

  .jewelry-c {
    width: 1200px; }
    .jewelry-c .commit-title {
      margin: 100px 0 53px; }
    .jewelry-c .jewelry-product {
      margin-right: -40px; }
      .jewelry-c .jewelry-product::after {
        content: '';
        display: block;
        clear: both; }
      .jewelry-c .jewelry-product .item {
        position: relative;
        font-size: 0;
        float: left;
        margin-right: 40px; }
        .jewelry-c .jewelry-product .item:hover > .item-text {
          opacity: 1; }
        .jewelry-c .jewelry-product .item .item-text {
          position: absolute;
          margin-top: -60px;
          opacity: 0;
          height: 60px;
          width: 100%; }

  .activities-c-m {
    display: none; }

  .activities-c {
    width: 1200px;
    margin: 0 auto; }
    .activities-c .activity-list {
      margin-top: 170px; }
      .activities-c .activity-list::after {
        display: table;
        content: '';
        clear: both; }
      .activities-c .activity-list .activity-item {
        position: relative;
        float: left;
        font-size: 0; }
        .activities-c .activity-list .activity-item img {
          width: 300px;
          height: 350px; }
        .activities-c .activity-list .activity-item .border {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          width: 95%;
          height: 95%;
          margin: auto;
          border: 1px solid #c3c3c31a;
          transition: background-color .3s linear; }
        .activities-c .activity-list .activity-item:hover > .border {
          width: 100%;
          height: 100%;
          background-color: RGB(241, 239, 240, 0.9);
          border: none; }
          .activities-c .activity-list .activity-item:hover > .border .activity-text {
            height: 100%;
            padding: 40px; }
            .activities-c .activity-list .activity-item:hover > .border .activity-text h3 {
              font-size: 30px;
              color: #939393; }
              .activities-c .activity-list .activity-item:hover > .border .activity-text h3 span {
                font-size: 14px; }
            .activities-c .activity-list .activity-item:hover > .border .activity-text h4 {
              margin-top: 45px;
              font-size: 16px;
              font-weight: bolder; }
            .activities-c .activity-list .activity-item:hover > .border .activity-text p {
              font-size: 13px;
              color: #8b8b8b;
              margin-top: 20px;
              margin-bottom: 55px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical; }
            .activities-c .activity-list .activity-item:hover > .border .activity-text a {
              font-size: 14px;
              padding: 10px 10px 10px 0;
              color: #bebebe; }

  .designers-c {
    width: 1200px;
    margin: 0 auto; }
    .designers-c .designers-list {
      padding: 0 55px;
      margin-right: -150px; }
      .designers-c .designers-list .designer {
        width: 277px;
        float: left;
        margin-right: 135px; }
        .designers-c .designers-list .designer .designer-avatar {
          width: 180px;
          height: 180px; }
        .designers-c .designers-list .designer .name {
          margin: 25px 0 10px; }
        .designers-c .designers-list .designer .position {
          margin: 10px 0 18px; }
        .designers-c .designers-list .designer .more {
          width: 150px;
          line-height: 3;
          margin: 60px 0; }
          .designers-c .designers-list .designer .more:hover {
            color: #fff; }

  .toup {
    right: 200px;
    bottom: 25px; }
    .toup a {
      width: 50px;
      height: 50px; } }
@media (max-width: 768px) {
  .home-swiper-button {
    display: none; }

  .content-c .commit-more {
    margin-top: 40px;
    margin-bottom: 40px; }
  .content-c .wedding-c {
    overflow: hidden;
    margin-top: 40px; }
    .content-c .wedding-c .wedding-banner {
      display: none; }
    .content-c .wedding-c .wedding-banner-m {
      margin: 0 10px;
      width: auto;
      overflow: hidden; }
      .content-c .wedding-c .wedding-banner-m .swiper-pagination {
        top: 0px;
        height: 50px; }
        .content-c .wedding-c .wedding-banner-m .swiper-pagination .swiper-pagination-bullet {
          font-size: 13px;
          width: 22%;
          height: 27px;
          border-radius: 0;
          color: #4d4d4d;
          background-color: #fff;
          opacity: 1; }
        .content-c .wedding-c .wedding-banner-m .swiper-pagination .swiper-pagination-bullet-active {
          color: #b9ab77; }
          .content-c .wedding-c .wedding-banner-m .swiper-pagination .swiper-pagination-bullet-active::after {
            content: '';
            display: block;
            margin: 10px auto;
            width: 4px;
            height: 4px;
            background-color: currentColor;
            border-radius: 50%; }
      .content-c .wedding-c .wedding-banner-m .swiper-wrapper {
        margin-top: 70px; }
        .content-c .wedding-c .wedding-banner-m .swiper-wrapper .swiper-slide {
          font-size: 0;
          margin: -10px 0; }
          .content-c .wedding-c .wedding-banner-m .swiper-wrapper .swiper-slide img {
            height: 100%;
            width: 100%; }

  .jewelry-c {
    width: auto;
    text-align: center;
    font-size: 0; }
    .jewelry-c .item {
      overflow: hidden;
      position: relative;
      display: inline-block;
      font-size: 14px; }
      .jewelry-c .item img {
        width: 325px;
        margin: 0 auto;
        display: block; }
      .jewelry-c .item .item-text {
        position: absolute;
        text-align: left;
        text-indent: 15px;
        margin-top: -64px;
        height: 64px;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .jewelry-c .item .item-text h3 {
          font-size: 14px; }
        .jewelry-c .item .item-text p {
          margin: 5px 0; }
    .jewelry-c .commit-more {
      font-size: 20px; }

  .activities-c {
    display: none; }

  .activities .activities-c-m {
    display: block;
    font-size: 0; }
    .activities .activities-c-m .activity-list .activity-item img {
      width: 50%; }
    .activities .activities-c-m .activity-list .activity-item .border {
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      right: 0;
      padding: 10px;
      background-color: RGB(241, 239, 240, 0.9); }
      .activities .activities-c-m .activity-list .activity-item .border .activity-text {
        height: 100%; }
        .activities .activities-c-m .activity-list .activity-item .border .activity-text h3 {
          font-size: 20px;
          color: #939393; }
          .activities .activities-c-m .activity-list .activity-item .border .activity-text h3 span {
            font-size: 12px; }
        .activities .activities-c-m .activity-list .activity-item .border .activity-text h4 {
          margin-top: 15px;
          font-size: 14px;
          font-weight: bolder; }
        .activities .activities-c-m .activity-list .activity-item .border .activity-text p {
          font-size: 13px;
          margin-top: 20px;
          margin-bottom: 55px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical; }
        .activities .activities-c-m .activity-list .activity-item .border .activity-text a {
          font-size: 14px;
          padding: 10px 10px 10px 0;
          color: #bebebe; }
    .activities .activities-c-m .commit-more {
      margin: 20px auto;
      font-size: 20px; }

  .designers-c {
    margin: 0 5px; }
    .designers-c .commit-title {
      margin-top: 20px; }
    .designers-c .designers-list .designer {
      width: 277px;
      margin: 0 auto; }
      .designers-c .designers-list .designer .designer-avatar {
        width: 180px;
        height: 180px; }
      .designers-c .designers-list .designer .name {
        margin: 25px 0 10px; }
      .designers-c .designers-list .designer .position {
        margin: 10px 0 18px; }
      .designers-c .designers-list .designer .more {
        width: 60px;
        line-height: 3;
        margin: 30px 0 100px; }
        .designers-c .designers-list .designer .more:hover {
          color: #fff; } }

/*# sourceMappingURL=index.css.map */